
<div class="player-right-ui">

<div class="abilities">
  <div class="ability">
    <div class="ability-icon">
      <img src="assets/images/abilities/ability-1.png" alt="">
    </div>
    <div class="ability-name">
      <span>Ability 1</span>
    </div>
  </div>
  <div class="ability">
    <div class="ability-icon">
      <img src="assets/images/abilities/ability-2.png" alt="">
    </div>
    <div class="ability-name">
      <span>Ability 2</span>
    </div>
  </div>
  <div class="ability">
    <div class="ability-icon">
      <img src="assets/images/abilities/ability-3.png" alt="">
    </div>
    <div class="ability-name">
        <span>Ability 3</span>
    </div>
  </div>
  <div class="ability">
    <div class="ability-icon">
      <img src="assets/images/abilities/ability-4.png" alt="">
    </div>
    <div class="ability-name">
      <span>Ability 4</span>
    </div>
</div>
    <div class="ability">
      <div class="ability-icon">
        <img src="assets/images/abilities/ability-5.png" alt="">
      </div>
      <div class="ability-name">
        <span>Ability 5</span>
      </div>
    </div>
    <div class="ability">
      <div class="ability-icon">
        <img src="assets/images/abilities/ability-6.png" alt="">
      </div>
      <div class="ability-name">
        <span>Ability 6</span>
      </div>
    </div>
  
</div>


<div class="ship-control-sliders">

  <div class="shields">
    <div class="shields-icon">
      <img src="assets/images/ship-control-sliders/shields.png" alt="">
    </div>
    <div class="shields-slider">
      <input type="range" min="0" max="100" value="50" class="slider" id="shields-slider" aria-label="shields">
    </div>
  </div>

  <div class="engines">
    <div class="engines-icon">
      <img src="assets/images/ship-control-sliders/engines.png" alt="">
    </div>
    <div class="engines-slider">
      <input type="range" min="0" max="100" value="50" class="slider" id="engines-slider"  aria-label="engines">
    </div>
</div>
    
<div class="weapons">
  <div class="weapons-icon">
    <img src="assets/images/ship-control-sliders/weapons.png" alt="">
  </div>
  <div class="weapons-slider">
    <input type="range" min="0" max="100" value="50" class="slider" id="weapons-slider" aria-label="weapons">
  </div>  
</div>
</div>

</div>
